.hDiscountSec{
    padding-bottom: 3.75%;
    border-bottom: 3px solid rgba(37, 37, 92, 0.15);
}

.hDiscountImg{
    width: 41.6%;
    margin-top: 3.8%;
    margin-left: 5.6%;
    margin-right: 2.8%;
}